{% extends 'catalog/base.html' %}

{% block content %}
<div id="detail">
  <hr>
  <h1 id="productHeader" class="intro-text text-center py-5" style="background-image: url('{{ thumbnail }}');">{{ product_name }}</h1>
  <hr class="detail-separator">
  <div class="row">
    <div style="text-align: center;" class="col-md-6">
      <img src="{{ thumbnail }}" alt="{{ product_name }}" class="img-responsive mx-auto d-block"">
      <div style="margin-bottom:45px">
        <h2 class="text-center">Catégories</h2>
        {%for category in categories%}
          <p style="text-align: center;">{{category}}</p>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6">
      <div style="margin-bottom:45px">
       <h2 class="text-center">Informations</h2>
        <ul style="list-style:none;">
          <li><span style="font-weight:bold;">Marque:</span> {{brand}}</li>
          <li><span style="font-weight:bold;">Nutriscore:</span> {{ nutriscore }}</li>
          <li><span style="font-weight:bold;">Description:</span> {{ description }}</li>
          <li><a href="{{url}}">Plus d'informations sur OpenFoodFacts</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}